<!DOCTYPE html>
<html>
    <head>
        <title>
            First Page on Mars
        </title>
    </head>
    <body>
        <h1>
            Ca marche !
        </h1>
        <div>
            Variable test: <%= test %>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.css"></script>
</html>